In [1]:
import pandas as pd
import numpy as np

df1 = pd.read_csv('dataset1.csv')
df1

    invoice_id legal_entity counter_party  rating status  value
0            1           L1            C1       1   ARAP     10
1            2           L2            C2       2   ARAP     20
2            3           L3            C3       4   ACCR     30
3            4           L1            C4       6   ARAP     40
4            5           L2            C5       4   ACCR     50
5            6           L3            C6       6   ACCR     60
6            7           L1            C1       2   ARAP     10
7            8           L2            C2       3   ACCR     40
8            9           L3            C3       3   ACCR     80
9           10           L1            C4       5   ACCR    100
10          11           L2            C5       6   ARAP   1000
11          12           L3            C6       4   ARAP     80
12          13           L1            C1       3   ARAP     20
13          14           L2            C3       2   ACCR     52
14          15           L3            C3       4   ACCR     35
15          16           L1            C3       6   ARAP      5
16          17           L2            C5       3   ACCR     65
17          18           L3            C6       5   ARAP     65

In [2]:
df2 = pd.read_csv('dataset2.csv')
df2

  counter_party  tier
0            C1     1
1            C2     2
2            C3     3
3            C4     4
4            C5     5
5            C6     6

In [3]:
df_merged = pd.merge(df1, df2, on=['counter_party'],suffixes=('_left', '_right'))
df_merged

    invoice_id legal_entity counter_party  rating status  value  tier
0            1           L1            C1       1   ARAP     10     1
1            7           L1            C1       2   ARAP     10     1
2           13           L1            C1       3   ARAP     20     1
3            2           L2            C2       2   ARAP     20     2
4            8           L2            C2       3   ACCR     40     2
5            3           L3            C3       4   ACCR     30     3
6            9           L3            C3       3   ACCR     80     3
7           14           L2            C3       2   ACCR     52     3
8           15           L3            C3       4   ACCR     35     3
9           16           L1            C3       6   ARAP      5     3
10           4           L1            C4       6   ARAP     40     4
11          10           L1            C4       5   ACCR    100     4
12           5           L2            C5       4   ACCR     50     5
13          11           L2            C5       6   ARAP   1000     5
14          17           L2            C5       3   ACCR     65     5
15           6           L3            C6       6   ACCR     60     6
16          12           L3            C6       4   ARAP     80     6
17          18           L3            C6       5   ARAP     65     6

In [61]:
new_df = df_merged[['legal_entity', 'counter_party', 'tier', 'rating','status', 'value']]

max_rating_by_cp = new_df.groupby('counter_party')['rating'].max()
new_df['max(rating by counterparty)'] = new_df['counter_party'].map(max_rating_by_cp)
arap_sum = new_df.loc[new_df['status'] == 'ARAP', 'value'].sum()
accr_sum = new_df.loc[new_df['status'] == 'ACCR', 'value'].sum()
new_df['sum(value where status=ARAP)'] = new_df['status'].apply(lambda x: arap_sum if x == 'ARAP' else 0)
new_df['sum(value where status=ACCR)'] = new_df['status'].apply(lambda x: accr_sum if x == 'ACCR' else 0)
new_df.to_csv('new_record.csv')

,legal_entity,counter_party,tier,rating,status,value,max(rating by counterparty),sum(value where status=ARAP),sum(value where status=ACCR)
0,L1,C1,1,1,ARAP,10,3,1250,0
1,L1,C1,1,2,ARAP,10,3,1250,0
2,L1,C1,1,3,ARAP,20,3,1250,0
3,L2,C2,2,2,ARAP,20,3,1250,0
4,L2,C2,2,3,ACCR,40,3,0,512
5,L3,C3,3,4,ACCR,30,6,0,512
6,L3,C3,3,3,ACCR,80,6,0,512
7,L2,C3,3,2,ACCR,52,6,0,512
8,L3,C3,3,4,ACCR,35,6,0,512
9,L1,C3,3,6,ARAP,5,6,1250,0
10,L1,C4,4,6,ARAP,40,6,1250,0
11,L1,C4,4,5,ACCR,100,6,0,512
12,L2,C5,5,4,ACCR,50,6,0,512
13,L2,C5,5,6,ARAP,1000,6,1250,0
14,L2,C5,5,3,ACCR,65,6,0,512
15,L3,C6,6,6,ACCR,60,6,0,512
16,L3,C6,6,4,ARAP,80,6,1250,0
17,L3,C6,6,5,ARAP,65,6,1250,0